body {
  background: #efefef;
}

.page_404 {
  padding: 40px 0;
  background: #efefef;
  font-family: "Arvo", serif;
  max-width: 600px;
  margin: 0 auto;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 50vh;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.four_zero_four_bg h2 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant-box-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .four_zero_four_bg h1 {
    font-size: 50px;
  }

  .four_zero_four_bg h2 {
    font-size: 50px;
  }
}
